
<section
class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color = "black"
>
<div class="z-30 relative h-full flex flex-col">
  <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conduccion
      </p>
    </header>

    <footer class="flex flex-grow justify-end pb-20 flex-col">
      <div class="flex gap-x-4 justify-center ">
      <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 inline-block text-white hover:text-white hover:border-gray-500 hover:bg-gray-500 transition-colors" href=""> Explorara inventario </a>
      <a class="bg-white text-black text-sm rounded font-medium px-12 py-2 hover:text-white hover:bg-black transition-colors inline-flex justify-center items-center" href=""> Pedido personalizado</a>
      </div>
    </footer>
</div>

<div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="/model-s.avif" alt="model" class="h-full w-full object-cover object-center">
</div>
</section>